/* ==========css reset============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.primary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.primary-btn a:hover {
    background-color: white;
    color: blue;
}

/* ==================header================ */

#home-header {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
}

#home-header .container {
    width: 100%;
}

#home-header .container .main-container {
    width: 90%;
    margin: auto;
}

#home-header .container .main-container .box {
    width: 100%;
}

#home-header .container .main-container .box1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(62, 47, 201, 0.404);
}

#home-header .container .main-container .box .sub-box1 {
    width: 100%;
    display: flex;
}

#home-header .container .main-container .box .sub-box1 .sub-mini-box p {
    padding: 1rem 1rem;
}

#home-header .sub-box2 {
    display: flex;
}

#home-header .sub-box2 .sub-mini-box {
    margin: 0.5rem;
}

#home-header .box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 255, 0.171);
    padding: 1.5rem 0rem;
}

#home-header .box2 .sub-box a {
    text-decoration: none;
    color: white;
}

#home-header .box2 .sub-box ul {
    display: flex;
}

#home-header .box2 .sub-box ul li {
    list-style: none;
}

#home-header .box2 .sub-box ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
}

#home-header .box3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}

#home-header .box3 h1 {
    padding: 1rem 0rem;
}

#home-header .box3 p {
    padding: 0.4rem 0rem;
    line-height: 1.5;
}

#home-header .box3 .secondary-btn {
    margin-top: 2rem;
}

#home-header .box3 .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

#home-header .box3 .secondary-btn a:hover {
    background-color: black;
    color: white;
}

/* ============second section/services.css================ */

.second-section {
    width: 100%;
}

.second-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.second-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section .main-container .box {
    width: 100%;
    margin: 0rem 2.5rem;
}

.second-section .main-container .box p {
    padding: 0.7rem 0rem;
}

.second-section .main-container .box1 i {
    color: blue;
}

.second-section .main-container .box2 img {
    width: 100%;
}

.second-section .main-container .box .secondary-btn {
    margin: 1rem 0rem;
}

.second-section .main-container .box .secondary-btn a {
    text-decoration: none;
}

/* ================third section=============== */

.third-section {
    width: 100%;
}

.third-section .container {
    width: 100%;
    padding: 5rem 0rem;
}

.third-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section .box {
    width: 100%;
    margin: 0rem 2.5rem;
}

.third-section .box img {
    width: 100%;
}

.third-section .main-container .box p {
    padding: 0.7rem 0rem;
}

.third-section .main-container .box i {
    color: blue;
}

.third-section .main-container .box .secondary-btn {
    margin: 1rem 0rem;
}

.third-section .main-container .box .secondary-btn a {
    text-decoration: none;
}

/* ===========fourth section============== */

.fourth-section {
    width: 100%;
}

.fourth-section .container {
    width: 100%;
}

.fourth-section .main-container {
    width: 90%;
    margin: auto;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section .box {
    margin: 0rem 2.5rem;
}

.fourth-section .box img {
    width: 100%;
}

.fourth-section p {
    padding: 0.7rem 0rem;
}

.fourth-section i {
    color: blue;
}

.fourth-section .main-container .box .secondary-btn {
    margin: 1rem 0rem;
}

.fourth-section .main-container .box .secondary-btn a {
    text-decoration: none;
}

/* ==========fifth section========== */

.fifth-section {
    width: 100%;
}

.fifth-section .container {
    width: 100%;
    padding: 5rem 0rem;
}

.fifth-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section .box {
    width: 100%;
    margin: 0rem 2.5rem;
}

.fifth-section .box img {
    width: 100%;
}

.fifth-section p {
    padding: 0.7rem 0rem;
}

.fifth-section i {
    color: blue;
}

.fifth-section .main-container .box .secondary-btn {
    margin: 1rem 0rem;
}

.fifth-section .main-container .box .secondary-btn a {
    text-decoration: none;
}

/* =================sixth section============= */

.sixth-section {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right, rgba(54, 27, 209, 0.86), rgba(29, 156, 86, 0.9)), url(../images/service-page-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* filter: blur(0.8px); */
}

.sixth-section .container {
    width: 100%;
    height: 100%;
    padding: 5rem 0rem;
}

.sixth-section .main-container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section i {
    color: blue;
    background-color: white;
    padding: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    transition: all 0.6s ease-in;
}

.sixth-section i:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* ==============seven section========= */

.seven-section {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.seven-section .container {
    width: 100%;
    padding: 5rem 0rem;
}

.seven-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven-section .box {
    margin: 0rem 2rem;
    text-align: center;
    color: rgb(44, 44, 168);
}

.seven-section .box p {
    padding-top: 1rem;
    color: black;
}

/* ==============eight section============= */

.eight-section {
    width: 100%;
}

.eight-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.eight-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.eight-section .box h1 {
    padding: 1rem 0rem;
    font-size: 2rem;
}

.eight-section .box p {
    padding: 0.5rem 0rem;
    line-height: 1.5;
    width: 60%;
    margin: auto;
}

.eight-section .secondary-btn {
    margin: 2rem 0rem;
}

.eight-section .secondary-btn a {
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.2rem;
    background-color: rgb(96, 96, 207);
    border-radius: 4px;
}

/* ================nine section/footer============= */

.nine-section {
    width: 100%;
    background-color: rgb(32, 32, 61);
    color: white;
    background-attachment: fixed;
}

.nine-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.nine-section .main-container {
    width: 90%;
    margin: auto;
}

.nine-section .box1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}

.nine-section .box1 .sub-box ul {
    display: flex;
}

.nine-section .box1 .sub-box ul li {
    list-style: none;
    margin: 0rem 1rem;
}

.nine-section .box1 .sub-box ul a {
    text-decoration: none;
    color: white;
}

.nine-section .box1 .sub-box i {
    margin: 0rem 0.6rem;
}

.nine-section .box2 {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

.nine-section .box2 p {
    padding: 0.5rem 0rem;
}

.nine-section .box3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}