/* ==========css reset============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.primary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.primary-btn a:hover {
    background-color: white;
    color: blue;
}


/* ==================header================ */

#home-header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

#home-header .container {
    width: 100%;
}

#home-header .container .main-container {
    width: 90%;
    margin: auto;
}

#home-header .container .main-container .box {
    width: 100%;
}

#home-header .container .main-container .box1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(62, 47, 201, 0.404);
}

#home-header .container .main-container .box .sub-box1 {
    width: 100%;
    display: flex;
}

#home-header .container .main-container .box .sub-box1 .sub-mini-box p {
    padding: 1rem 1rem;
}

#home-header .sub-box2 {
    display: flex;
}

#home-header .sub-box2 .sub-mini-box {
    margin: 0.5rem;
}

#home-header .box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 255, 0.171);
    padding: 1.5rem 0rem;
}

#home-header .box2 .sub-box a {
    text-decoration: none;
    color: white;
}

#home-header .box2 .sub-box ul {
    display: flex;
}

#home-header .box2 .sub-box ul li {
    list-style: none;
}

#home-header .box2 .sub-box ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

#home-header .box3 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9rem;
}

#home-header .box3 h1 {
    padding: 1rem 0rem;
}

#home-header .box3 p {
    padding: 0.4rem 0rem;
    line-height: 1.5;
}

#home-header .box3 .secondary-btn {
    margin-top: 2rem;
}

#home-header .box3 .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

#home-header .box3 .secondary-btn a:hover {
    background-color: black;
    color: white;
}