* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ==================header================ */

#home-header {
    width: 100vw;
    height: 80vh;
    color: black;
    background-image: url(../images/blog-page-header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: rgba(128, 128, 128, 0.089);
}

#home-header .container {
    width: 100%;
}

#home-header .container .main-container {
    width: 90%;
    margin: auto;
}

#home-header .container .main-container .box {
    width: 100%;
}

#home-header .container .main-container .box1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-header .container .main-container .box .sub-box1 {
    width: 100%;
    display: flex;
}

#home-header .container .main-container .box .sub-box1 .sub-mini-box p {
    padding: 1rem 1rem;
}

#home-header .sub-box2 {
    display: flex;
}

#home-header .sub-box2 .sub-mini-box {
    margin: 0.5rem;
}

#home-header .box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem;
}

#home-header .box2 .sub-box a {
    text-decoration: none;
    color: black;
}

#home-header .box2 .sub-box ul {
    display: flex;
}

#home-header .box2 .sub-box ul li {
    list-style: none;
}

#home-header .box2 .sub-box ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
}

#home-header .box2 .primary-btn a {
    text-decoration: none;
    background-color: blue;
    padding: 0.7rem 1rem;
    color: white;
    border-radius: 0.2rem;
}

#home-header .box3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
}

#home-header .box3 h1 {
    padding: 1rem 0rem;
}

#home-header .box3 p {
    padding: 0.4rem 0rem;
    line-height: 1.5;
    width: 60%;
    margin: auto;
}

#home-header .box3 .secondary-btn {
    margin-top: 2rem;
}

#home-header .box3 .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

#home-header .box3 .secondary-btn a:hover {
    background-color: black;
    color: white;
}

/* ==================second section===================== */

.second-section {
    width: 100%;
}

.second-section .container {
    width: 100%;
}

.second-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.second-section .main-container .box1 {
    width: 100%;
}

.second-section .main-container .box1 .sub-box1 {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.second-section .main-container .box1 .sub-box2 {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section .main-container .box1 .sub-box2 .product-card {
    width: 100%;
    margin: 1rem;
}

.second-section .main-container .box1 .sub-box2 .product-card .product-card-img {
    width: 100%;
}

.second-section .main-container .box1 .sub-box2 .product-card .product-card-img img {
    width: 100%;
}

/* ===================third section================== */

.third-section {
    width: 100%;
}

.third-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.third-section .main-container {
    width: 90%;
    margin: auto;
}

.third-section .main-container .card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section .main-container .card p {
    margin: 0rem 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid gray;
    transition: 0.5s;
}

.third-section .main-container .card .active {
    background-color: blue;
    color: white;
}

.third-section .main-container .card p:hover {
    background-color: blue;
    color: white;
    border: none;
}

/* ============ footer section========== */

.nine-section {
    width: 100%;
    background-color: rgb(32, 32, 61);
    color: white;
}

.nine-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.nine-section .main-container {
    width: 90%;
    margin: auto;
}

.nine-section .box1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}

.nine-section .box1 .sub-box ul {
    display: flex;
}

.nine-section .box1 .sub-box ul li {
    list-style: none;
    margin: 0rem 1rem;
}

.nine-section .box1 .sub-box ul a {
    text-decoration: none;
    color: white;
}

.nine-section .box1 .sub-box i {
    margin: 0rem 0.6rem;
}

.nine-section .box2 {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

.nine-section .box2 p {
    padding: 0.5rem 0rem;
}

.nine-section .box3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}