/* --------css reset------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ===========utilities classes=========== */

/* .container {
    width: 100%;
}

.main-container {
    width: 90%;
    margin: auto;
} */

/* .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-only {
    display: flex;
    justify-content: center;
}

.flex-align-only {
    display: flex;
    align-items: center;
} */

/* .line-height {
    line-height: 1.5;
}

.text-align {
    text-align: center;
}

ul li {
    list-style: none;
    color: black;
}

ul li a {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
} */

.primary-btn {}

.primary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.primary-btn a:hover {
    background-color: white;
    color: blue;
}

.secondary-btn {}

.secondary-btn a {}

.secondary-btn a:hover {}

/* ==================header================ */

#home-header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

#home-header .container {
    width: 100%;
}

#home-header .container .main-container {
    width: 90%;
    margin: auto;
}

#home-header .container .main-container .box {
    width: 100%;
}

#home-header .container .main-container .box1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-header .container .main-container .box .sub-box1 {
    width: 100%;
    display: flex;
}

#home-header .container .main-container .box .sub-box1 .sub-mini-box p {
    padding: 1rem 1rem;
}

#home-header .sub-box2 {
    display: flex;
}

#home-header .sub-box2 .sub-mini-box {
    margin: 0.5rem;
}

#home-header .box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 255, 0.171);
}

#home-header .box2 .sub-box ul {
    display: flex;
}

#home-header .box2 .sub-box ul li {
    list-style: none;
}

#home-header .box2 .sub-box ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

#home-header .box3 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9rem;
}

#home-header .box3 h1 {
    padding: 1rem 0rem;
}

#home-header .box3 p {
    padding: 0.4rem 0rem;
    line-height: 1.5;
}

#home-header .box3 .secondary-btn {
    margin-top: 2rem;
}

#home-header .box3 .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

#home-header .box3 .secondary-btn a:hover {
    background-color: black;
    color: white;
}

/* ================second section========== */

.second-section {
    width: 100%;
    background-color: white;
}

.second-section .container {
    width: 100%;
    padding: 4rem 0rem;
}

.second-section .main-container {
    width: 90%;
    margin: auto;
}

.second-section .content {
    width: 100%;
    text-align: center;
}

.second-section .content h1 {
    padding: 1rem 0rem;
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: auto;
}

.second-section .box-container {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.second-section .box-container .box {
    margin: 0rem 1rem;
}

.second-section .box-container .box img {
    width: 100%;
}

.second-section .box-container .box h3 {
    padding: 0.5rem 0rem;
}

.second-section .box-container .box p {
    padding: 0.5rem 0rem;
    color: gray;
    line-height: 1.5;
}

.second-section .box-container .box a {
    text-decoration: none;
    font-weight: bold;
}

/* ================third section=========== */

.third-section {
    width: 100%;
}

.third-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.third-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section .main-container .box {
    margin: 0rem 1.5rem;
}

.third-section .main-container .box p {
    margin: 1rem 0rem;
}

.third-section .secondary-btn {
    margin-top: 2rem;
}

.third-section .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.third-section .secondary-btn a:hover {
    background-color: white;
    color: black;
}

/* ===============fourth section============== */

.fourth-section {
    width: 100%;
    background-color: #377ef912;
}

.fourth-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.fourth-section .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section .main-container .box {
    margin: 0rem 2rem;
    padding: 1rem;
    transition: 0.5s border;
    background-color: white;
    transition: 0.4s;
}

.fourth-section .main-container .box:hover {
    box-shadow: 0px 1px 40px rgba(128, 128, 128, 0.171);
}

.fourth-section .main-container .box2 .sub-box {
    margin: 1rem;
    background-color: white;
    padding: 1rem 2.5rem;
    transition: 0.4s;
}

.fourth-section .main-container .box2 .sub-box:hover {
    box-shadow: 0px 1px 40px rgba(128, 128, 128, 0.171);
}

.fourth-section .main-container .box2 .sub-box i {
    font-size: 2rem;
    padding: 1rem 0rem;
    color: rgb(64, 175, 129);
}

.fourth-section .main-container .box2 .sub-box a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.fourth-section .main-container .box i {
    font-size: 2rem;
    padding: 1rem 0rem;
    color: rgb(64, 175, 129);
}

.fourth-section .main-container .box i h2 {
    margin: 1rem 0rem;
}

.fourth-section .main-container .box a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.fourth-section .main-container .box .secondary-btn {
    margin: 2rem 1rem;
}

.fourth-section .main-container .box .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.fourth-section .main-container .box .secondary-btn a:hover {
    background-color: white;
    color: blue;
}

/* ==============fifth section========== */

.fifth-section {
    width: 100%;
}

.fifth-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.fifth-section .main-container {
    width: 90%;
    margin: auto;
}

.fifth-section .box1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.fifth-section .box1 p {
    padding: 0.6rem 0rem;
    width: 80%;
}

.fifth-section .box1 .secondary-btn a {
    border: 1px solid blue;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: 0.4s;
}

.fifth-section .box1 .secondary-btn a:hover {
    background-color: blue;
    color: white;
}

.fifth-section .box1 h1 {
    font-size: 2.3rem;
}

.fifth-section .box2 {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 1.5rem 0rem;
}

.fifth-section .box2 .sub-box {
    margin: 0rem 1rem;
}

.fifth-section .box2 h2 {
    background-color: blue;
    display: inline-block;
    color: white;
    padding: 1rem 1.7rem;
    border-radius: 50%;
    margin: 2rem 1rem;
}

.fifth-section .box2 h3 {
    margin: 0.6rem 0rem;
}

/* ==========sixth section======== */

.sixth-section {
    width: 100%;
}

.sixth-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.sixth-section .main-container {
    width: 90%;
    margin: auto;
}

.sixth-section .box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.sixth-section .box1 .sub-box {
    margin: 0rem 1rem;
}

.sixth-section .box2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section .box2 .sub-box {
    width: 100%;
}

.sixth-section .box2 .sub-box h3 {
    padding: 1rem 0rem;
}

.sixth-section .box2 .sub-box h1 {
    padding: 0.4rem 0rem;
}

.sixth-section .box2 .sub-box p {
    padding: 0.5rem 0rem;
    line-height: 1.5;
}

.sixth-section .box2 .secondary-btn {
    margin-top: 2rem;
}

.sixth-section .box2 .secondary-btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.sixth-section .box2 .secondary-btn a:hover {
    background-color: black;
    color: white;
}

.sixth-section .box1 .blue-color {
    color: blue;
}

/* =================seven section============ */

.seven-section {
    width: 100%;
}

.seven-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.seven-section .main-container {
    width: 90%;
    margin: auto;
}

.seven-section .box1 {
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    text-align: center;
    font-size: 2rem;
}

.seven-section .box2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.seven-section .box2 .sub-box {
    margin: 0rem 1.5rem;
    border: 1px solid rgba(128, 128, 128, 0.336);
    padding: 1rem;
}

.seven-section .box2 .sub-box:hover {
    box-shadow: 1px 5px 4px rgba(128, 123, 123, 0.116);
}

.seven-section .box2 .sub-box h4 {
    color: blue;
}

.seven-section .box2 .sub-box h2 {
    padding: 2.5rem 0rem;
    color: rgb(27, 27, 70);
}

.seven-section .box2 .sub-box span {
    margin: 0.4rem 1rem;
    color: gray;
}

.seven-section .box3 {
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
}

.seven-section .box3 .secondary-btn a {
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 1rem 1.5rem;
    transition: all 0.5s;
}

.seven-section .box3 .secondary-btn a:hover {
    background-color: blue;
    color: white;
}

/* ============eight section================= */

.eight-section {
    width: 100%;
    background-color: #377ef912;
}

.eight-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.eight-section .main-container {
    width: 90%;
    margin: auto;
}

.eight-section {
    width: 100%;
}

.eight-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.eight-section .main-container {
    width: 90%;
    margin: auto;
}

.eight-section .box1 {
    width: 60%;
    padding: 2rem 0rem;
    margin: auto;
    text-align: center;
}

.eight-section .box1 h1 {
    padding: 0.7rem 0rem;
    font-size: 2rem;
}

.eight-section .box2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eight-section .box2 .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.eight-section .box2 .sub-box {
    margin: 0rem 2rem;
    text-align: center;
}

.eight-section .box2 .sub-box p {
    padding: 0.7rem 0rem;
}

.eight-section .box2 .sub-box input {
    width: 60%;
    margin: 1rem 0rem;
    padding: 0.5rem;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.082);
    background-color: #377ef912;
}

.eight-section .box2 .sub-box textarea {
    width: 60%;
    margin: 1rem 0rem;
    padding: 0.5rem;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.144);
    background-color: #377ef912;
}

.eight-section .box2 .sub-box .secondary-btn a {
    text-decoration: none;
    padding: 1rem 2.5rem;
    background-color: blue;
    color: white;
}

.eight-section .box2 .sub-box img {
    width: 100%;
}

/* ============nine section/ footer section========== */

.nine-section {
    width: 100%;
    background-color: rgb(32, 32, 61);
    color: white;
}

.nine-section .container {
    width: 100%;
    padding: 3rem 0rem;
}

.nine-section .main-container {
    width: 90%;
    margin: auto;
}

.nine-section .box1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}

.nine-section .box1 .sub-box ul {
    display: flex;
}

.nine-section .box1 .sub-box ul li {
    list-style: none;
    margin: 0rem 1rem;
}

.nine-section .box1 .sub-box ul a {
    text-decoration: none;
    color: white;
}

.nine-section .box1 .sub-box i {
    margin: 0rem 0.6rem;
}

.nine-section .box2 {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

.nine-section .box2 p {
    padding: 0.5rem 0rem;
}

.nine-section .box3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}